# The default value for all booleans is true.

# true, false
CONFIG_DEBUG=true

# arch64, ubuntu, ubuntu64, windows
CONFIG_PLATFORM=arch64

# g++, clang, cl
CONFIG_COMPILER=g++

# g++, g++-4.8, clang++, cl.exe..
CONFIG_COMPILERBIN=g++

# gcc, clang, cl.exe...
CONFIG_CCOMPILERBIN=gcc

# g++, link.exe...
CONFIG_LINKERBIN=g++

# Extra compile flags
# Optional
CONFIG_BUILDFLAGS=

# Extra link flags
# Optional
CONFIG_LINKFLAGS=

